@model List<PP4.MVC.Models.ViewSala>
@{
    ViewBag.Title = "Nueva Sala";
}

<h2>@ViewBag.Title</h2>
<!-- en html llamo para crear un formaulario con beginform, nuevo es el metodo, persona es por medio del controler que uso y el .post me ayuda a crear el form -->
@using (Html.BeginForm("Nuevo", "Salas", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-12">
            <!--estos son los helper de html para poder hacer el form, el form-contrl le da un estilo al textbox-->
            <div>
                @Html.ValidationMessageFor(d => d.Cantidad_total, null, new { @class = "danger" })
                <div />
                <div>
                    @Html.LabelFor(d => d.Cantidad_total)
                    @Html.TextBoxFor(d => d.Cantidad_total, "", new { @class = "form-control" })
                </div>
            </div>
            <div>
                @Html.ValidationMessageFor(d => d.Cantidad_disponible, null, new { @class = "danger" })
                <div />
                <div>
                    @Html.LabelFor(d => d.Cantidad_disponible)
                    @Html.TextBoxFor(d => d.Cantidad_disponible, "", new { @class = "form-control" })
                </div>
                <div>
                    @Html.ValidationMessageFor(d => d.ID_Asiento, null, new { @class = "danger" })
                    <div />
                    <div>
                        @Html.LabelFor(d => d.ID_Asiento)
                        @Html.TextBoxFor(d => d.ID_Asiento, "", new { @class = "form-control" })
                    </div>
                    <div />
                    <div>
                        @Html.LabelFor(d => d.ID_pelicula)
                        @Html.TextBoxFor(d => d.ID_pelicula, "", new { @class = "form-control" })
                    </div>
                </div>
                <br />

                <div style="text-align:right">
                    <input value="Guardar" class="btn btn-outline-primary" type="submit" />
                </div>
            </div>
        </div>
    </div>
}

